@page "/browse"
@inject INoteService NoteService

<h1>Browse</h1>

<div class="row p-2 g-2">
    @foreach (NoteRecord note in NoteService.GetAllNotes())
    {
        <div class="col-4">
            <div class="p-3 m-2" style="border: 1px solid; border-radius: 4px;">
                <div class="pb-2" style="position: sticky; top:0; background-color:white;">
                    <h4 style="text-wrap: nowrap; overflow-x:hidden;">@note.Title</h4>
                    <hr>
                </div>
                <div style="max-height: 400px; overflow:auto;">
                    <p>@note.Contents</p>
                </div>
            </div>
        </div>
    }
</div>