@inherits LayoutComponentBase
@inject ILemmaService LemmaService
@inject IBrowserLogger BrowserLogger
@inject ISpeechService SpeechService

<div class="bb-page">
    <Sidebar Href="/"
             IconName="IconName.None"
             Title="Trava"
             DataProvider="SidebarDataProvider"
             />

    <main>
        <div class="bb-top-row justify-content-center">
            <h1 class="title m-0">Trava</h1>
        </div>

        <article class="content px-3">
            <div class="py-3">@Body</div>
        </article>
    </main>
</div>

@code 
{
    IEnumerable<NavItem> navItems;

    protected override async Task OnInitializedAsync()
    {
        await LemmaService.TryStartPython();
        BrowserLogger.Log($"Python Service Status: {(LemmaService.PythonRunning() ? "Running" : "Not Running")}.");
    }

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        return new List<NavItem>
        {
            new NavItem { Href = "/home", IconName = IconName.HouseDoorFill, Text = "Home" },
        };
    }
}