@inherits LayoutComponentBase
@inject ILemmaService LemmaService
@inject IBrowserLogger BrowserLogger
@inject ISpeechService SpeechService

<div class="bb-page">
    <Sidebar Href="/"
             IconName="IconName.BootstrapFill"
             Title="Trava"
             DataProvider="SidebarDataProvider"
             />

    <main>
        <div class="bb-top-row justify-content-center">
            <h1>Trava</h1>
        </div>

        <article class="content px-3">
            <div class="py-3">@Body</div>
        </article>
    </main>
</div>

@code 
{
    IEnumerable<NavItem> navItems;

    public bool ClientInitialized = false;

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if(!first || ClientInitialized)
            return;

        await SpeechService.Preload();
        BrowserLogger.Log("Speech Service Preloaded.");
        await LemmaService.TryStartPython();
        BrowserLogger.Log($"Python Service Status: {(LemmaService.PythonRunning() ? "Running" : "Not Running")}.");
        
        ClientInitialized = true;
    }

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        return new List<NavItem>
        {
            new NavItem { Href = "/home", IconName = IconName.HouseDoorFill, Text = "Home" },
        };
    }
}