@page "/home"
@using Trava.Repositories
@inject TranslationService Translation
@inject MorphologyService Morphology

<h1>Home</h1>

<Button Color="ButtonColor.Primary" class="btn" @onclick="Process">Process Text</Button>
<br><br>

@foreach (var term in Terms)
{
    if(term.key != null)
    {
        <HoverWord Term="@term"/>
    }else if (Regex.IsMatch(term.text, @"^\r?\n$"))
    {
        <br>
    }else if(string.IsNullOrWhiteSpace(term.text))
    {
        @((MarkupString)"&nbsp;")  
    }else
    {
        @term.text
    }
}

<br><br>

<div class="row">
    <div class="col-12">
        <textarea @bind="InputText"></textarea>
    </div>
</div>

<style>
    textarea
    {
    resize: none;
    min-width: 100%;
    height: 500px;
    }
</style>

@code 
{
    string InputText = "";

    List<(string key, string text)> Terms = [];

    protected override async Task OnInitializedAsync()
    {
        await Morphology.TryStartPython();
    }

    public void Process()
    {
        Terms = new List<(string key, string text)>();

        var lines = Regex.Split(InputText, @"\r?\n");

        foreach (var line in lines)
        {
            if (string.IsNullOrWhiteSpace(line))
            {
                // Treat empty lines as a special term
                Terms.Add((null, "\n"));
                continue;
            }

            var tokens = Regex.Matches(line, @"\w+|[^\w\s]+|\s+")
                .Cast<Match>()
                .Select(m =>
                {
                    string token = m.Value;

                    if (Regex.IsMatch(token, @"^\w+$"))
                    {
                        string key = Morphology.Lemmatize(token);
                        return (key, token);
                    }
                    else
                    {
                        return ((string)null, token);
                    }
                });

            Terms.AddRange(tokens);
            // Add explicit newline to mark line break
            Terms.Add((null, "\n"));
        }
    }
}

