@inject TranslationService Translation

<span class="hoverspace" @onmouseover="GetTranslation">
    <span class="term">@Lemma.DisplayText</span>
    <div class="popup">
        @if(HoverLoaded)
        {
            @if(Term != null)
            {
                <span><strong>@Term.Term</strong> - (@Lemma.PartOfSpeech.ToString())</span>
                if(Term is RussianNoun noun)
                {
                    
                    //@noun.GetDescriptor(Lemma.DisplayText.ToLower()) <--GET IT FROM THE LEMMA INSTEAD
                    
                }

                string[] definitions = Term.Translation.Split(";");
                foreach (string definition in definitions)
                {
                    <br><span>• @definition</span>
                }
            }
            else
            {
                <span><strong><i>unknown term</i></strong></span>
            }
        }
    </div>
</span>

@code 
{
    [Parameter] public RussianLemma Lemma { get; set; }

    bool HoverLoaded = false;
    RussianTerm Term = null!;

    public void GetTranslation()
    {
        if(!HoverLoaded)
            Term = Translation.ConvertToTerm(Lemma);
        HoverLoaded = true;
    }
}
