@inject TranslationService Translation

<span class="hoverspace" @onmouseover="GetTranslation">
    <span class="term">@Lemma.NormalForm</span>
    <div class="popup">
        @if(HoverLoaded)
        {
            @if(Term != null)
            {
                if(Term is RussianNoun)
                {
                    <span><strong>@Term.Term</strong></span>
                    <br><span>• @Term.Translation</span>
                }
            }
            else
            {
                <span><strong><i>unknown term</i></strong></span>
            }
        }
    </div>
</span>

@code 
{
    [Parameter] public RussianLemma Lemma { get; set; }

    bool HoverLoaded = false;
    RussianTerm Term = null!;

    public void GetTranslation()
    {
        if(!HoverLoaded)
            Term = Translation.ConvertToTerm(Lemma);
        HoverLoaded = true;
    }
}
