@using Trava.Scripts.Translations
@inject TranslationService Translation

<span class="hoverspace" @onmouseover="GetTranslation">
    <span class="term">@Term.text</span>
    <div class="popup">
        @if(Translations != null)
        {
            <span><strong>@Term.key</strong></span>
            
            @foreach (string translated in Translations)
            {
                <br><span>• @translated</span>
            }
        }
        else
        {
            <span><strong><i>unknown term</i></strong></span>
        }
    </div>
</span>

@code 
{
    [Parameter] public RussianLemma Lemma { get; set; }

    public RussianTerm Term;

    public void GetTranslation()
    {
        Term = RussianParser.
        //Translations = Translation.Repository.GetTranslationAsLines(Term.key) ?? null;
    }
}
